services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  orders-db:
    image: postgres:16
    environment:
      POSTGRES_USER: orders
      POSTGRES_PASSWORD: orders
      POSTGRES_DB: ordersdb
    ports:
      - "5433:5432"
    volumes:
      - orders_db_data:/var/lib/postgresql/data

  payments-db:
    image: postgres:16
    environment:
      POSTGRES_USER: payments
      POSTGRES_PASSWORD: payments
      POSTGRES_DB: paymentsdb
    ports:
      - "5434:5432"
    volumes:
      - payments_db_data:/var/lib/postgresql/data

volumes:
  orders_db_data:
  payments_db_data:
